*{
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
}

.left-content{
    width: 60%;
    height: 800px;
    background-image: url(../images/Group\ 3.png);
}

.left-content .main{
    margin-left: 30%;
    margin-top: 50%;
}

.main h1{
    color: #fff;
    margin-bottom: 10px;    
}

.main p{
    color:#fff;
    margin-bottom: 10px;
    font-size: 20px;
}

.main button{
    border: none;
    width: 180px;
    height: 57px;
    background-color: #0575E6;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
}

.right-content{
    margin-left: 10%;
    margin-top: 20%;
}

.right-content p{
    margin-bottom: 40px;
}

.right-content .one{
    border-radius: 20px;
    border:1px solid #ccc;
    width: 300px;
    height: 57px;
}

.one input{
    border: none;
    color: #ccc;
    outline: 0px;
    padding-left: 10px;
    color: #0575E6;
}

.fa-solid, .fa-regular{
    margin-left: 11px;
    color: #ccc;
}

.right-content button{
    background-color: #0575E6;
    color: #fff;
    width: 300px;
    height: 57px;
    border: none;
    border-radius: 20px;
}

.right-content .link p{
    color: #ccc;
    text-decoration: none;
    /* display: flex; */
    /* justify-content: space-between; */
}

.link a{
    color:#0575E6;
    text-decoration: none;
}

